/*
CSS doesn't allow variables to be used in media
queries just yet, but you can use these values
to help you out.

	--size-xs: 320px;
	--size-sm: 480px;
	--size-md: 768px;
	--size-lg: 1024px;
	--size-xl: 1200px;
*/

/* This uses the same value as --size-xs. */
@media screen and (width >=320px) {

}

/* Zekai's work on story1/2/3 section below */

/* Hiding components except story 1, 2, and 3 */
.notification{
	display: none;
}

body {
	font-family: "Chango", sans-serif;
}

button {
	font-family: "Chango", sans-serif;
	font-size: 16px;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	background-color: #43368B;
}

.homepage {
	background-image: url("../images/homebackground.png");
	background-size: cover;
	background-position: center;
	position: relative;
	height: 100vh;
}

.homepage .home-title{
	color: #ff99cc;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.836);
	position: absolute;
  	left: 15%;
  	top: 40%;
	font-size: 40px;
}
.homepage .home-subtitle{
	color:#ff99cc;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.836);
	position: absolute;
  	left: 5%;
  	top: 45%;
	font-size: 40px;
}

.homepage .cat-image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.homepage .cat-image img {
	width: 500px;
	height: auto;
}

.homepage .speech-bubble {
	position: absolute;
  	top: -50px;
  	left: 50%;
	transform: translateX(-50%);
	background-color: #ff99cc;
	color: white;
	padding: 10px 20px;
	border-radius: 20px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.homepage .home-buttons {
	position: absolute;
	top: 55%;
	left: 20%;
	width: 20%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.homepage .home-buttons button {
    margin-bottom: 20px;
}

.homepage .home-start {

}
.homepage .home-gallery {

}

/* Story styling */
.story {
	background-image: url("../images/Story_background.png");
	background-size: cover;
	background-position: center;
	position: relative;
	max-width: 100%;
	background-color: #FFFFFF;
	border: 2px solid #000000;
	height: 100vh;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Image styling */
.mr-cat {
	width: 40%;
	height: auto;
}

/* Paragraph styling */
.story-chat {
	position: absolute;
	bottom: 30%;
	width:90%;
	font-size: 18px;
	text-align: center;
	margin: 0 auto;
	color: white;
	background-color: #7621A6;
	border-radius: 10px;
	padding: 15px;
}

/* Previous button styling */
.story-prev {
	position: absolute;
	bottom: 50%;
	left: 20px;
}

/* Next button styling */
.story-next {
	position: absolute;
	bottom: 50%;
	right: 20px;
}

/* Home Button styling */
.story-home {
	position: absolute;
	top: 10px;
	left: 10px;
}

/* Skip Button styling */
.story-skip {
	position: absolute;
	top: 10px;
	right: 10px;
}

.tutorial {
	background-image: url("../images/livingroombackground.png");
	background-size: cover;
	background-position: center;
	position: relative;
	max-width: 100%;
	background-color: #FFFFFF;
	border: 2px solid #000000;
	height: 100vh;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tutorial .tutorial-tips{
	width: 150px;
    height: 100px;
	padding: 30px;
	border: none;
	border-radius: 5px;
	color: white;
	background-color: #43368b94;
}

.tutorial .tutorial-tip1 {
	position: absolute;
	top: 30%;
	left: 10%;
}

.tutorial .tutorial-tip2 {
	position: absolute;
	top: 30%;
	right: 10%;
}

.tutorial .mr-cat{
	position: absolute;
	left: 10%;
}
.tutorial .cat{
	width: 8%;
	position:absolute;
	left: 20%;
}

/*game styling*/
.game{
	background-image: url("../images/gameBackground.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	max-width: 100%;
	height: 100vh;
	background-color: #FFFFFF;
	border: 2px solid #000000;
	padding: 20px;
}

/* Game Button styling */
.game button{
	position: absolute;
	top: 10px;
	padding: 10px 20px;
	background-color:#43368B;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
	border-radius: 10px;
}

.game .game-pausebutton {
	left: 10px;
}

.game .cat-count {
	right: 10px;
}

.game img{
	max-width: 10%;
}

/*pause page styling*/
.pausepage,.endscene{
	background-image: url("../images/gamePauseBackground.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	max-width: 100%;
	height: 100vh;
	background-color: #FFFFFF;
	border: 2px solid #000000;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.pause-title{
	color: #ff99cc;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
	position: relative;
	font-family: "Chango", sans-serif;
	font-weight: 400;
	font-size: 40px;
	top: -25%
}


/*pause page button*/
.pausepage button{
	position: absolute;
	top: 10px;
	padding: 10px 20px;
	background-color: #43368B;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
	border-radius: 10px;
}

.pausepage .cat-count{
	Right: 10px;
}

.pausepage .resume-title{
	top:40%;
}
.pausepage .retry-title{
	top:50%;
}
.pausepage .home-title{
	top:60%;
}

.endscene .endtitle{
	color: #ff99cc;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
	position: relative;
	font-family: "Chango", sans-serif;
	font-weight: 400;
	font-size: 40px;
	top: -10%;
}

.endscene button{
	margin: 20px;
}
